.attendance_container {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .arrow {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 5px 5px;
        /* margin: 1px 6px; */
    }

    .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);

    }

    body {

        margin: 0;
        padding: 0;
    }

    #attendance_container {
        display: none;
    }

    .attendance_header {
        background-color: #cacffc;
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        height: 80px;
    }

    .attendance_header h1 {
        color: #2d328e85 !important;
        font-weight: 700;
    }

    .attendance_header .back-btn {
        width: 44px;
        height: 44px;
        margin-left: 12px;
        background: #cacffc;
        border-radius: 50%;
        padding: 8px 16px;
        border: none;
    }

    .attendance_header .back-btn:hover {
        background-color: #2d328e85;
    }

    .attendance_header .back-btn:active {
        scale: -0.9;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }

    .attendance_header h1 {
        text-align: left;
        padding-left: 30px;
        display: flex;
        align-items: center;
        color: white;
    }


    label {
        /* margin-top: 10px; */
        padding-right: 8px;
        padding-left: 24px;
        display: inline-block;
        color: rgb(58, 58, 58);
    }

    select,
    button {
        margin-top: 5px;
        display: inline-block;
        padding: 8px 12px;
        border: 1px solid #666666;
        border-radius: 4px;
        font-size: 16px;
    }

    .attendance_table {
        width: 100vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    table {
        margin-top: 20px;
        border-collapse: collapse;
        width: 60%;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        width: 25%;
    }

    th {
        background-color: #2d328e85;
        color: white;
        width: 20%;
    }

    button {
        display: inline-block;
        padding: 10px 24px;
        background-color: #2d328e85;
        color: white;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
        border: none;
    }

    button:hover {
        background-color: #fff;
        color: #2d328e85;
        outline: 1px solid #2d328e85;
    }

    button {
        margin-left: 10px;
    }

    /* Optional: Style for checkboxes */
    input[type="checkbox"] {
        margin-top: 0;
    }

    h2 {
        padding: 20px;
        color: #2d328e85;
    }

    form {
        display: flex;
        align-items: baseline;
        /* justify-content: center; */
    }

    .select_container {
        display: flex;
        background-color: white;
        align-items: center;
        justify-content: space-between;
        padding: 10px 24px;
    }

    .select_container h4 {
        font-weight: 400;
        color: grey;
    }
}